.item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    border-radius: 7px;
    transition: all 0.3s;
}

.fitem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px !important;
    transition: all 0.3s;
}

.title {
    text-align: center;
    font-size: 28px;
    color: teal;
}

.firstFields {
    width: 100% !important;
    direction: rtl !important;
}

.secondFieldsItems {
    padding: 15px;
    /* margin-top: 50px !important; */
}

.fieldsItems {
    padding: 15px !important;
}

.table {
    margin-top: 100px;
    transition: all 0.3s;
}

.submit {
    transition: all 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 200px;
    height: 50px;
    background-color: teal;
    border-radius: 7px;
    margin-bottom: 20px !important;
}

.submit:hover {
    transition: all 0.2s;
    background-color: rgb(3, 54, 54);
}

.subTag {
    margin: 0px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.labels {
    margin: 0px !important;
    text-align: right;
    direction: rtl;
    transform-origin: top right;
}

.snackbarPC {
    color: red;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 10px;
    margin: 0px !important;
    text-align: right;
}

.snackbarP {
    color: #64ffda;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 10px;
    margin: 0px !important;
    text-align: right;
  }

.snackbar {
    color: teal;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    font-size: 10px;
    margin: 0px !important;
    text-align: right;
}

.cancel {
    color: red;
    font-size: 28px;
}

.check {
    color: #64ffda;
    font-size: 28px;
}

@media only screen and (max-width: 800px) {
    .item {
        top: 2%;
    }
}