@import url('https://fonts.googleapis.com/css2?family=Almarai&family=Gugi&family=Tajawal:wght@200&display=swap');
html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-standard.MuiFormLabel-root.MuiFormLabel-colorPrimary.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  width: 100% !important;
  left: unset;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  transform-origin: top right;
  left: unset !important;
  right: 0;
}

.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-standard.MuiFormLabel-root.MuiFormLabel-colorPrimary.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  width: 100% !important;
  left: unset !important;
  right: 0;
}

.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root {
  transform-origin: top right !important;
  right: 0;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  left: unset !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  left: unset !important;
  right: 0 !important;
  transform-origin: top right !important;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  transform-origin: top right !important;
  right: 0;
}

.MuiPaper-root.MuiSnackbarContent-root.MuiPaper-elevation6 {
  background-color: black;
  color: white;
  border-radius: 4px;
  min-width: auto;
}

.MuiOutlinedInput-notchedOutline {
  border-color: #8892b0 !important;
}

.css-1480iag-MuiInputBase-root-MuiInput-root.Mui-error:after{
  border-color: black !important;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root.Mui-error{
  color: #8892b0;
}